.container {
  padding: 0 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.genres {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: fit-content;
  gap: 20px;
}

.genre {
  display: flex;
  align-items: center;
  gap: 4px;
}

.button {
  width: 100px;
  height: 40px;
  border-radius: 12px;
  outline: none;
}

.select {
  width: 200px;
}